@import "styles/variables";
@import "styles/mixins";

.container {
  height: 100%;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: $fontSize-large;
      text-transform: uppercase;
      color: var(--default-text-color);
    }
    border-bottom: 3px solid var(--vless-alpha-text-color);
    padding-bottom: $padding-default;
  }
  .contentContainer {
    // margin-top: $padding-default;
    padding: $padding-default;
    overflow-y: auto;
    height: 100%;
  }
  .content {
    height: 100%;
    align-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $padding-default;
    position: relative;
    @include breakpoint(xxl, max) {
      grid-template-columns: 1fr;
    }
    > span {
      position: absolute;
      width: 100%;
      text-align: center;
      margin-top: $padding-large;
      font-size: $fontSize-large;
      opacity: 0.5;
      font-weight: 700;
      top: $padding-medium;
    }
  }
}
