@import "../../styles/variables";
form {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background: var(--default-color);
  border-radius: $border-radius-default;
  display: grid;
  grid-template-rows: 1fr auto;
}

.inputBody {
  height: 100%;
  overflow-y: auto;
  padding: $padding-less;
  display: flex;
  flex-direction: column;

  & > div {
    margin-bottom: $padding-default * 2;
  }
  input {
    border: none;
    border-radius: 0;
    font-family: "Poppins";
  }
  a {
    margin-inline: $padding-default;
    margin-block: $padding-less;
    display: block;
    width: fit-content;
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.inputControls {
  height: 100%;
  display: flex;
  align-items: center;
  padding: $padding-default;
  justify-content: space-between;
  // height: 10%;
}

.formControls {
  display: flex;
  align-items: center;
  gap: $padding-default;
}
