@import "../../../styles/variables";

.listInputWrapper {
  display: flex;
  align-items: center;
  border-radius: $border-radius-default;
}

.list {
  padding-inline: $padding-default * 2;
  width: 100%;
  input {
    padding-inline: $padding-less;
  }
  button {
    position: relative;
  }

  li {
    position: relative;
  }
}
.listCheckbox {
  position: absolute;
  left: -$padding-default;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
}
.image {
  margin: $padding-default;
  background: red;

  border-radius: $border-radius-default;
  overflow: hidden;
}

.heading {
  font-size: $fontSize-large;
  font-weight: 500;
}

.title {
  font-size: $fontSize-medium;
  font-weight: 500;
}
