@import "../../../styles/variables";

.listInputWrapper {
  display: flex;
  align-items: center;
  border-radius: $border-radius-default;
}

.list {
  padding-inline: $padding-default * 2;
  width: 100%;
  input {
    padding-inline: $padding-less;
  }
  button {
    position: relative;
  }
}

.image {
  padding: $padding-default;
}
