@import "../../../styles/variables";
.container {
  display: flex;
  background-color: var(--default-color);
  border-radius: $border-radius-default;
  box-shadow: $boxShadow-default;
  padding-block: $padding-veryLess;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-block: 0;
    border-radius: 0;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  span {
    font-size: $fontSize-small;
    opacity: 0.8;
    // text-transform: uppercase;
  }
}
