@import "styles/variables";
@import "styles/mixins";
.container {
  display: flex;
  background-color: var(--default-color);
  border-radius: $border-radius-default;
  box-shadow: $boxShadow-more-depth;
  padding-block: $padding-veryLess;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include breakpoint(sm, max) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
  }

  button {
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-block: 0;
    border-radius: 0;
    justify-content: space-between;
    @include breakpoint(sm, max) {
      border: none;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  span {
    font-size: $fontSize-small;
    opacity: 0.8;
    // text-transform: uppercase;
  }
}
