@import "styles/variables";

form {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr auto;
}

.inputControls {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  button {
    background: var(--default-color);
    box-shadow: $boxShadow-default;
  }
}

.formControls {
  display: flex;
  align-items: center;
  gap: $padding-default;

  button {
    background: var(--default-color);
  }
}
