$padding-veryLess: 6px;
$padding-less: 12px;
$padding-default: 16px;
$padding-medium: 24px;
$padding-large: 32px;

$dropdown-height-default: 72px;

$font-default: "Poppins", sans-serif;

$fontSize-extraSmall: 8px;
$fontSize-small: 12px;
$fontSize-default: 16px;
$fontSize-medium: 18px;
$fontSize-large: 28px;

$boxShadow-small: 0px 2px 6px rgba(0, 0, 0, 0.1);
$boxShadow-input: 0px 1px 4px rgba(0, 0, 0, 0.1);
$boxShadow-default: 0px 4px 6px rgba(0, 0, 0, 0.1);
$boxShadow-more-depth: 0px 0px 8px rgba(0, 0, 0, 0.1),
  0px 4px 32px rgba(0, 0, 0, 0.1);

$border-thin: 0.5px solid rgba(0, 0, 0, 0.2);
$border-default: 1px solid rgba(0, 0, 0, 0.2);
$border-bolder: 2px solid rgba(0, 0, 0, 0.05);

$border-radius-default: 6px;
