* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --pading_less: 4px;
  --padding: 6px;
  --padding_large: 12px;
  --margin: 6px;
  --margin_large: 12px;
  --pureWhite: #ffff;
  --bgWhiteGray: rgb(250, 250, 250);
  --bgWhiteGray_alpha: rgba(250, 250, 250, 0.3);
  --shadow_default: 0 2px 4px rgba(0, 0, 0, 0.1);
  --border_1px: 1px solid rgba(0, 0, 0, 0.1);
  --default_font_size: 16px;
}

input,
button,
select,
textarea {
  padding: var(--padding) var(--padding_large);
  outline: none;
}

input,
textarea,
select {
  border: var(--border_1px);
  font-size: var(--fontSize_input);
}

label {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.02);
          box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.02);
}

button {
  border: none;
  background: var(--bgWhiteGray);
  cursor: pointer;
  -webkit-box-shadow: var(--shadow_default);
          box-shadow: var(--shadow_default);
  font-size: var(--fontSize_btn);
}

button > i {
  pointer-events: none;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  gap: var(--padding_large);
}

body {
  background: var(--bgWhiteGray);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

body,
html,
#root,
main {
  height: 100%;
}

.mainContainer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.input_container {
  background: var(--pureWhite);
  padding: var(--padding_large);
  -webkit-box-shadow: var(--shadow_default);
          box-shadow: var(--shadow_default);
}

.input_container label[for="heading_input_value"] {
  margin-bottom: var(--margin);
}

.input_select_container {
  padding-bottom: var(--padding_large);
}

.input_select_container .input_fields {
  padding-bottom: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input_select_container .input_fields .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--padding);
}

.input_select_container .input_box {
  width: 100%;
  background: var(--pureWhite);
  margin: var(--margin) 0;
  -webkit-box-shadow: var(--shadow_default);
          box-shadow: var(--shadow_default);
  padding: var(--padding);
}

.input_select_container .input_box .input_box_header {
  margin: var(--pading_less) var(--padding_large);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: var(--border_1px);
}

.input_select_container .input_box .input_box_header button {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.input_select_container .input_box .input_box_header label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.input_select_container .input_box .input {
  width: 100%;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.input_select_container .input_box input,
.input_select_container .input_box textarea {
  width: 100%;
}

.input_select_container .color_input {
  --square: 64px;
  min-height: var(--square) !important;
  min-width: var(--square) !important;
  height: var(--square) !important;
  width: var(--square) !important;
  border: none;
  padding: 0;
  border-width: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.input_select_container .color_input::-webkit-color-swatch-wrapper {
  padding: 0 !important;
}

.input_select_container .color_input::-webkit-color-swatch {
  border: var(--border_1px);
}

.input_select_container .list_control_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--padding);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.input_select_container .list_input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--padding);
  width: 100%;
}

.input_select_container .color_addition_inputs {
  margin: 0 var(--margin_large);
}

.input_select_container .random_color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 var(--margin);
  width: 100%;
  gap: var(--padding);
}

.input_select_container .random_color button {
  padding: var(--padding_large);
  border: 4px solid #fff;
}

.input_selection,
.input_main_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--padding);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=app.css.map */