* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pading_less: 4px;
  --padding: 6px;
  --padding_large: 12px;
  --margin: 6px;
  --margin_large: 12px;
  --pureWhite: #ffff;
  --bgWhiteGray: rgb(250, 250, 250);
  --bgWhiteGray_alpha: rgba(250, 250, 250, 0.3);
  --shadow_default: 0 2px 4px rgba(0, 0, 0, 0.1);
  --border_1px: 1px solid rgba(0, 0, 0, 0.1);
  --default_font_size: 16px;
}

input,
button,
select,
textarea {
  padding: var(--padding) var(--padding_large);
  outline: none;
}
input,
textarea,
select {
  border: var(--border_1px);
  font-size: var(--fontSize_input);
}
label {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

input:focus,
textarea:focus {
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.02);
}

button {
  border: none;
  background: var(--bgWhiteGray);
  cursor: pointer;
  box-shadow: var(--shadow_default);
  font-size: var(--fontSize_btn);
  & > i {
    pointer-events: none;
  }
}
main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: var(--padding_large);
}
body {
  background: var(--bgWhiteGray);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}
body,
html,
#root,
main {
  height: 100%;
}

.mainContainer {
  grid-column: 2/3;
}

.input_container {
  background: var(--pureWhite);
  padding: var(--padding_large);
  box-shadow: var(--shadow_default);

  label[for="heading_input_value"] {
    margin-bottom: var(--margin);
  }
}
.input_select_container {
  padding-bottom: var(--padding_large);
  .input_fields {
    padding-bottom: var(--padding);
    display: flex;
    justify-content: center;
    flex-direction: column;

    .list-container {
      display: flex;
      gap: var(--padding);
    }
  }

  .input_box {
    width: 100%;
    background: var(--pureWhite);
    margin: var(--margin) 0;
    box-shadow: var(--shadow_default);
    padding: var(--padding);

    .input_box_header {
      margin: var(--pading_less) var(--padding_large);
      display: flex;
      align-items: center;
      border-bottom: var(--border_1px);
      button {
        border: none;
        box-shadow: none;
        background-color: transparent;
      }
      label {
        flex: 1;
      }
    }
    .input {
      width: 100%;
      padding: var(--padding);
      display: flex;
      justify-content: flex-start;
    }
    input,
    textarea {
      width: 100%;
    }
  }
  .color_input {
    --square: 64px;
    min-height: var(--square) !important;
    min-width: var(--square) !important;
    height: var(--square) !important;
    width: var(--square) !important;
    border: none;
    padding: 0;
    border-width: 0;
    align-self: flex-end;
    cursor: pointer;
    &::-webkit-color-swatch-wrapper {
      padding: 0 !important;
    }
    &::-webkit-color-swatch {
      border: var(--border_1px);
    }
  }
  .list_control_btns {
    display: flex;
    padding: var(--padding);
    justify-content: flex-end;
  }
  .list_input_box {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    width: 100%;
  }
  .color_addition_inputs {
    margin: 0 var(--margin_large);
  }
  .random_color {
    display: flex;
    flex-wrap: wrap;
    margin: 0 var(--margin);
    width: 100%;
    gap: var(--padding);
    button {
      padding: var(--padding_large);
      border: 4px solid #fff;
    }
  }
}
.input_selection,
.input_main_button {
  display: flex;
  gap: var(--padding);
  justify-content: flex-end;
  align-items: center;
}
