@use "sass:math";

:root {
  --default-backgroundcolor: #f0f0f0;
  --default-color: #fafafa;
  --default-text-color: rgba(0, 0, 0, 0.8);
  --less-alpha-text-color: rgba(0, 0, 0, 0.5);
  --vless-alpha-text-color: rgba(0, 0, 0, 0.05);
  --link-text-color: #2372e9;
}

$padding-veryLess: 6px;
$padding-less: 12px;
$padding-default: 16px;
$padding-medium: 24px;
$padding-large: 32px;

$dropdown-height-default: 72px;

$font-default: "Poppins", sans-serif;

$fontSize-extraSmall: 8px;
$fontSize-small: 12px;
$fontSize-default: 16px;
$fontSize-medium: 18px;
$fontSize-large: 28px;

$boxShadow-small: 0px 2px 6px rgba(0, 0, 0, 0.1);
$boxShadow-input: 0px 1px 4px rgba(0, 0, 0, 0.1);
$boxShadow-default: 0px 4px 6px rgba(0, 0, 0, 0.1);

$border-thin: 0.5px solid rgba(0, 0, 0, 0.2);
$border-default: 1px solid rgba(0, 0, 0, 0.2);
$border-bolder: 2px solid rgba(0, 0, 0, 0.05);

$border-radius-default: 6px;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

#root {
  height: 100%;
}
body {
  background-color: var(--default-backgroundcolor);
  font-family: $font-default;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--link-text-color);
}

button {
  background-color: var(--default-backgroundcolor);
  border: none;
  padding: math.div($padding-default, 2) $padding-default;
  font-size: $fontSize-default;
  font-family: $font-default;
  border-radius: $border-radius-default;
  box-shadow: $boxShadow-default;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--default-text-color);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $padding-default;
  svg {
    opacity: 0.8;
    height: $fontSize-medium;
    // height: 100%;
  }
}

input,
select,
textarea {
  padding: math.div($padding-default, 2) $padding-default;
  background-color: var(--default-color);
  border: $border-default;
  border-radius: 0 $border-radius-default $border-radius-default
    $border-radius-default;
  outline: none;
  font-size: $fontSize-medium;
  color: var(--default-text-color);
}
input {
  width: 100%;
}

input:focus {
  box-shadow: inset $boxShadow-input !important;
}

button:active {
  box-shadow: inset $boxShadow-default !important;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: $padding-large * 2;
  min-width: $padding-default;
  resize: vertical;
  overflow: hidden;
}
select {
  height: 1ch;
  padding: 0 $padding-default;
  padding-right: $padding-large;
  font-size: $fontSize-default;
  font-family: $font-default;
  border-radius: $border-radius-default;
  appearance: none;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--less-alpha-text-color) 50%
    ),
    linear-gradient(135deg, var(--less-alpha-text-color) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  height: 100%;
  box-sizing: content-box;
  background-repeat: no-repeat;
  // &:focus {
  //   background-image: linear-gradient(
  //       45deg,
  //       var(--less-alpha-text-color) 50%,
  //       transparent 50%
  //     ),
  //     linear-gradient(135deg, transparent 50%, var(--less-alpha-text-color) 50%);
  //   background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
  //     calc(100% - 2.5em) 0.5em;
  //   background-size: 5px 5px, 5px 5px, 1px 1.5em;
  //   background-repeat: no-repeat;
  //   outline: 0;
  // }
}

main {
  display: grid;
  grid-template-columns: 1fr 1336px 1fr;
  height: 100%;
  gap: $padding-default;
  margin: 0 $padding-default;
}

.mainContainer {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.input_container {
  background-color: var(--default-color);
  padding: $padding-medium $padding-medium * 2;
  border-radius: $border-radius-default;
  box-shadow: $boxShadow-default;
  img {
    display: block;
    width: 100%;
    max-width: 15%;
    margin: $padding-default 0;
    border-radius: $border-radius-default;
    box-shadow: $boxShadow-default;
  }
}

.input_selection {
  display: flex;
  margin-top: $padding-medium;
  row-gap: $padding-medium;
  gap: $padding-medium;
  .selection_input_btn {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: $padding-default;
  }
  .input_main_button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: $padding-default;
  }
  button {
    padding: math.div($padding-less, 1.5) $padding-default;
    align-self: center;
    height: 100%;
  }
}

.input_box_header {
  display: flex;
  justify-content: space-between;

  button {
    padding: 0;
    background: none;
    height: 100%;
    box-shadow: none;
    padding: 0 $padding-default;
  }
  input,
  label {
    text-transform: uppercase;
    font-size: $fontSize-small;
    height: fit-content;
    width: fit-content;
    min-width: 0;
    min-height: 0;
    max-width: 98%;
    margin-top: auto;
    background: var(--default-backgroundcolor);
    padding: math.div($padding-default, 3) $padding-medium;

    border-radius: $border-radius-default $border-radius-default 0 0;
    font-weight: 600;
    opacity: 0.7;
    border: none;
    white-space: pre-wrap;
    text-overflow: none;
    overflow: visible;
    overflow-wrap: break-word;
  }
}

.added_input_box {
  margin-top: $padding-default;
  padding: $padding-default;
  box-shadow: $boxShadow-default;
  border-radius: $border-radius-default;
  .inputWaper {
    .list_control_btns {
      margin-top: $padding-medium;
      button {
        padding: $padding-less $padding-default;
      }
    }
    .list_input_box {
      flex: 1;
      input:not(input:last-child) {
        border-radius: $border-radius-default;
      }
    }
    .input .list_input_box .list-container {
      margin-bottom: $padding-default;
      gap: $padding-default;
      display: flex;
    }
    .list_control_btns {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.color_input {
  border: none;
  height: $padding-large * 2;
  width: $padding-large * 2;
  padding: 0;
  border-radius: $border-radius-default;
  overflow: hidden;
  box-shadow: $boxShadow-default;
  cursor: pointer;
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
  }
}
.color_addition_inputs {
  display: flex;
  flex-direction: column;
  gap: $padding-default;
  justify-content: center;
  flex: 1;
  width: 100%;
  margin: 0;
}

.random_color {
  display: flex;
  align-items: center;
  gap: $padding-default;
  flex-wrap: wrap;
  button {
    padding: $padding-default;
    box-shadow: $boxShadow-small;
    border: 3px solid rgba(255, 255, 255, 0.8);
    transition: transform 0.2s ease-in-out;
    height: $padding-less;
    width: $padding-less;
    &:hover {
      transform: scale(1.2);
    }
  }
}

// Main Output
.mainoutput_wraper {
  margin-bottom: $padding-default;
  display: grid;
  gap: $padding-default;
  grid-template-columns: 1fr 1fr;
  position: relative;
  > span {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: $padding-large;
    font-size: $fontSize-large;
    opacity: 0.5;
    font-weight: 700;
  }
}
.dropdown_container {
  width: 100%;
  min-width: 0;
  .dropdown_wraper {
    display: flex;
    align-items: center;
    min-height: $dropdown-height-default;
    background-color: var(--default-color);
    border-radius: $border-radius-default;
    box-shadow: $boxShadow-default;
    position: relative;
    overflow: hidden;
    .dropdown_header_side_color {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: $padding-default;
    }
    .dropdown_heading {
      flex: 1;
      padding: $padding-default;
      padding-left: $padding-large;
      overflow: hidden;
    }
    h1 {
      font-size: $fontSize-large;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .dropdown_btn_container {
    display: flex;
    align-items: center;
    height: math.div($dropdown-height-default, 1.5);
    // gap: $padding-default;
    padding: 0 $padding-default;
    margin: $padding-less 0;
    box-shadow: $boxShadow-default;
    border-radius: $border-radius-default 0 0 $border-radius-default;
    background-color: var(--default-backgroundcolor);

    button {
      box-shadow: none;
      background: transparent;
      height: 100%;
      svg {
        height: 100%;
        opacity: 0.7;
      }
    }
  }

  &.visible {
    .dropdown_inner_container {
      display: block;
    }
    .dropdown_heading {
      overflow: visible;
    }
    .dropdown_wraper {
      flex-wrap: wrap;
      justify-content: center;
      .dropdown_heading {
        width: 100%;
      }
      h1 {
        white-space: pre-wrap;
        text-overflow: none;
        overflow: visible;
        overflow-wrap: break-word;
        max-width: 100%;
      }
    }
  }

  .dropdown_inner_container {
    display: none;
  }
}

.dropdown_extraButtons {
  display: flex;
  height: 100%;
  align-items: center;
}

.outputTemplet_wraper {
  padding: $padding-default $padding-large;
  background: var(--default-color);
  margin-top: $padding-veryLess;
  box-shadow: $boxShadow-default;
  border-radius: $border-radius-default;

  .label_container {
    position: relative;
    bottom: -4px;
    background: transparent;
    z-index: 1;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    //   z-index: -1;
    //   background: var(--vless-alpha-text-color);
    //   width: 100%;
    //   height: 1px;
    // }
  }
  label {
    font-size: $fontSize-small;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--less-alpha-text-color);
    background: var(--default-color);
    padding-right: $padding-veryLess;
  }
  h2,
  h5 {
    font-size: $fontSize-medium;
  }
  h2 {
    font-weight: 500;
    font-size: $fontSize-large - 4px;
  }
  h5 {
    font-weight: 500;
  }
  h6,
  span {
    font-size: $fontSize-small;
  }
  p {
    font-weight: 400;
    font-size: $fontSize-default;
    width: 100%;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
  img {
    display: block;
    width: 100%;
    max-width: 15%;
    margin: 4px 0;
    border-radius: $border-radius-default;
    box-shadow: $boxShadow-default;
  }
  ul {
    margin-left: $padding-default;
  }
  .output_footer {
    margin-top: $padding-less;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .publishing-date {
      display: flex;
      gap: 4px;
      margin-left: auto;
    }
  }
}

// filters
.search_filters {
  display: flex;
  gap: $padding-default;
  margin-top: $padding-default;
  flex-wrap: wrap;
  // position: sticky;
  // top: 0;
  // z-index: 9999;
  // background: rgba($color: #ffffff, $alpha: 1);

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--default-color);
    box-shadow: $boxShadow-default;
    border-radius: $border-radius-default;
    button,
    select,
    input {
      background: var(--default-color);
      padding: $padding-less $padding-default;
      border: none;
      box-shadow: none;
    }

    select,
    button {
      text-transform: capitalize;
    }
    button {
      svg {
        height: 100%;
      }
      &.search_clear_button {
        svg {
          opacity: 0.6;
        }
      }
    }
  }
  .filter-by-search {
    flex: 1;
    min-width: 40%;
  }
  .color_filter_container {
    @extend .random_color;
    gap: $padding-less;
    padding: 0 $padding-less - 4px;
    scroll-behavior: smooth;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
    button {
      padding: math.div($padding-default, 1.6);
      border: 2px solid rgba(255, 255, 255, 0.8);
    }
    &.mr {
      margin-right: $padding-default;
    }
  }
}
.color_filter_container {
  @extend .random_color;
  gap: $padding-less;
  padding: 0 $padding-less - 4px;
  scroll-behavior: smooth;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  button {
    padding: math.div($padding-default, 1.6);
    border: 2px solid rgba(255, 255, 255, 0.8);
  }
  &.mr {
    margin-right: $padding-default;
  }

  &.output {
    height: auto;
    button {
      cursor: default;
      &:hover {
        transform: scale(1);
      }
    }
  }
}

.output_filter_label {
  display: flex;
  gap: $padding-veryLess;
  margin-bottom: $padding-default;
}
.color_filter {
  max-width: 40%;
  overflow: hidden;
  display: flex;
}

.user-info-btn {
  background: var(--default-color);
  svg {
    height: 100%;
  }
}

.user-info-container {
  // grid-column: 3/-1;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: $padding-default;
  margin: $padding-default 0;
  box-shadow: $boxShadow-default;
  border-radius: $border-radius-default;
  background: var(--default-color);
  flex-direction: column;
  gap: $padding-default;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: $padding-default;
  .user-info {
    display: flex;
    // gap: $padding-default;
    align-items: center;
    flex-wrap: wrap;
    align-self: flex-start;
  }
  .user-photo {
    border-radius: 50%;
    height: $padding-large * 1.5;
    width: $padding-large * 1.5;
    box-shadow: $boxShadow-default;
    margin-right: $padding-default;
  }
  .user-credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .user-name {
    font-size: $fontSize-medium;
    font-weight: 600;
  }
  .user-email {
    font-size: $fontSize-small + 2;
    color: var(--default-text-color);
  }
}

#trash {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $padding-default;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  .trash_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: $fontSize-large;
      text-transform: uppercase;
      color: var(--default-text-color);
    }
    border-bottom: 3px solid var(--vless-alpha-text-color);
    padding-bottom: $padding-default;
  }
  .trash_content_container {
    // margin-top: $padding-default;
    padding: $padding-default;
    overflow-y: auto;
    height: 94%;
  }
  .trash_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $padding-default;
    position: relative;

    > span {
      position: absolute;
      width: 100%;
      text-align: center;
      margin-top: $padding-large;
      font-size: $fontSize-large;
      opacity: 0.5;
      font-weight: 700;
      top: $padding-medium;
    }
  }
}

// Separator
.separator {
  &.horizontal-bold {
    width: 100%;
    height: 3px;
    background-color: var(--vless-alpha-text-color);
    margin: $padding-default 0;
  }
  &.vertical-medium {
    height: 60%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 0 $padding-default;
    &.ml0 {
      margin-left: 0;
    }
    &.m0 {
      margin: 0;
    }
  }
}

// loading

.simple-card {
  // background-color: rgb(200, 200, 200);
  height: 10%;
  width: 100%;
  padding: $padding-large;
  border-radius: $border-radius-default;
  animation: loading_animation 2s linear infinite;
}

@keyframes loading_animation {
  0% {
    background: rgb(240, 240, 240);
  }
  50% {
    background: rgb(220, 220, 220);
  }
  100% {
    background: rgb(240, 240, 240);
  }
}

.sign-in-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    padding: $padding-default $padding-default * 2;
    background: var(--default-color);
    display: flex;
    gap: $padding-default;
  }
}

.color_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.color-filter-scrollBtn {
  // position: absolute;
  // top: 0;
  height: 100%;
  border-radius: 0;
}

.color-filter-arrowLeft {
  // left: 0;
  svg {
    transform: rotate(90deg);
  }
}

.color-filter-arrowRight {
  // right: 0;
  svg {
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 1400px) {
  main {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .mainContainer {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 1100px) {
  .input_container {
    padding: $padding-large $padding-default;
    width: 100%;
    min-width: min-content;
  }
  .mainContainer {
    min-width: 0;
  }
  .mainoutput_wraper {
    grid-template-columns: 1fr;
  }
  .search_filters {
    justify-content: center;
  }
  .color_filter {
    min-width: 30%;
    max-width: 100%;
  }
  .dropdown_container {
    .dropdown_wraper {
      flex-direction: column;
      .dropdown_heading {
        text-align: center;
        max-width: 100%;
        padding-bottom: 0;
      }
    }
  }
  .outputTemplet_wraper {
    img {
      width: 100%;
      max-width: 400px;
    }
  }
  .user-info-container {
    left: 0;
    max-width: 100%;
    right: 0;
  }
  #trash {
    .trash_content_container {
      padding: $padding-default 0;
    }
    .trash_content {
      grid-template-columns: 1fr;
    }
  }

  .sign-in-container {
    button {
      padding: $padding-default $padding-default;
      background: var(--default-color);
      display: flex;
      gap: $padding-default;
    }
  }
}
@media screen and (max-width: 400px) {
  .input_selection {
    flex-wrap: wrap;
    row-gap: $padding-medium;
    button {
      padding: $padding-less $padding-default;
    }
  }
}
@media screen and (max-width: 350px) {
  .dropdown_container {
    .dropdown_wraper {
      .dropdown_header_side_color {
        width: 100%;
        height: math.div($padding-default, 1.5);
      }
      .dropdown_heading {
        padding-left: $padding-default;
      }
    }
  }
}

.undo-container {
  position: fixed;
  left: $padding-default;
  bottom: $padding-default;
  z-index: 999999;
  display: flex;
  align-items: center;
  gap: $padding-default;
  background-color: rgb(32, 32, 32);
  padding: $padding-default;
  color: var(--default-color);
  border-radius: $border-radius-default;
  button {
    margin-left: $padding-default * 2;
    padding: 0;
    color: rgb(113, 163, 255);
    background: transparent;
  }
}
