@use "sass:math";

:root {
  --default-backgroundcolor: #f0f0f0;
  --default-color: #fafafa;
  --default-text-color: rgba(0, 0, 0, 0.8);
  --less-alpha-text-color: rgba(0, 0, 0, 0.5);
  --vless-alpha-text-color: rgba(0, 0, 0, 0.05);
  --link-text-color: #2372e9;
}

$padding-veryLess: 6px;
$padding-less: 12px;
$padding-default: 16px;
$padding-medium: 24px;
$padding-large: 32px;

$dropdown-height-default: 72px;

$font-default: "Poppins", sans-serif;

$fontSize-extraSmall: 8px;
$fontSize-small: 12px;
$fontSize-default: 16px;
$fontSize-medium: 18px;
$fontSize-large: 28px;

$boxShadow-small: 0px 2px 6px rgba(0, 0, 0, 0.1);
$boxShadow-default: 0px 4px 6px rgba(0, 0, 0, 0.1);

$border-thin: 0.5px solid rgba(0, 0, 0, 0.2);
$border-default: 1px solid rgba(0, 0, 0, 0.2);
$border-bolder: 2px solid rgba(0, 0, 0, 0.05);

$border-radius-default: 6px;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

#root {
  height: 100%;
}
body {
  background-color: var(--default-backgroundcolor);
  font-family: $font-default;
  font-weight: 400;
  font-smooth: auto;
}

a {
  text-decoration: none;
  color: var(--link-text-color);
}
ul {
  list-style: none;
}

button {
  background-color: var(--default-backgroundcolor);
  border: none;
  padding: math.div($padding-default, 2) $padding-default;
  font-size: $fontSize-default;
  font-family: $font-default;
  border-radius: $border-radius-default;
  box-shadow: $boxShadow-default;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--default-text-color);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    opacity: 0.8;
    height: $fontSize-medium;
  }
}

input,
select,
textarea {
  padding: math.div($padding-default, 2) $padding-default;
  background-color: var(--default-color);
  border: $border-default;
  border-radius: 0 0 $border-radius-default $border-radius-default;
  outline: none;
  font-size: $fontSize-medium;
  color: var(--default-text-color);
}
input {
  width: 100%;
}
textarea {
  width: 100%;
  max-width: 100%;
  min-height: $padding-large * 2;
  min-width: $padding-default;
}
select {
  padding: math.div($padding-default, 2) $padding-default;
  font-size: $fontSize-default;
  font-family: $font-default;
  border-radius: $border-radius-default;
}

main {
  display: grid;
  grid-template-columns: 1fr 1336px 1fr;
  height: 100%;
}

.mainContainer {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.input_container {
  background-color: var(--default-color);
  padding: $padding-medium $padding-medium * 2;
  border-radius: $border-radius-default;
  box-shadow: $boxShadow-default;
  img {
    display: block;
    width: 100%;
    max-width: 15%;
    margin: $padding-default 0;
    border-radius: $border-radius-default;
    box-shadow: $boxShadow-default;
  }
}

.input_selection {
  display: flex;
  gap: $padding-default;
  margin-top: $padding-medium;
  .input_main_button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    button {
      height: 100%;
    }
  }
}

.input_box_header {
  display: flex;
  justify-content: space-between;
  button {
    padding: 0;
    background: none;
    height: 100%;
    box-shadow: none;
    padding: 0 $padding-default;
  }
  label {
    text-transform: uppercase;
    font-size: $fontSize-small;
    height: fit-content;
    margin-top: auto;
    background: var(--default-backgroundcolor);
    padding: math.div($padding-default, 3) $padding-medium;
    border-radius: $border-radius-default $border-radius-default 0 0;
    font-weight: 500;
    opacity: 0.7;
  }
}

.added_input_box {
  margin-top: $padding-default;
  padding: $padding-default;
  box-shadow: $boxShadow-default;
  border-radius: $border-radius-default;
  .inputWaper {
    .list_input_box {
      flex: 1;
      input:not(input:last-child) {
        border-radius: $border-radius-default;
      }
    }
    .input .list_input_box .list-container {
      margin-bottom: $padding-default;
      gap: $padding-default;
      display: flex;
    }
    .list_control_btns {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.color_input {
  border: none;
  height: $padding-large * 2;
  width: $padding-large * 2;
  padding: 0;
  border-radius: $border-radius-default;
  overflow: hidden;
  box-shadow: $boxShadow-default;
  cursor: pointer;
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
  }
}
.color_addition_inputs {
  display: flex;
  flex-direction: column;
  gap: $padding-default;
  justify-content: center;
  flex: 1;
  width: 50%;
  margin: 0;
}

.random_color {
  display: flex;
  align-items: center;
  gap: $padding-default;

  button {
    padding: $padding-default;
    box-shadow: $boxShadow-small;
    border: 3px solid rgba(255, 255, 255, 0.8);
    transition: transform 0.2s ease-in-out;
    height: $padding-less;
    width: $padding-less;
    &:hover {
      transform: scale(1.2);
    }
  }
}

// Main Output
.mainoutput_wraper {
  margin-bottom: $padding-default;
  display: grid;
  gap: $padding-default;
  grid-template-columns: 1fr 1fr;
}
.dropdown_container {
  width: 100%;
  min-width: 0;
  .dropdown_wraper {
    display: flex;
    align-items: center;
    min-height: $dropdown-height-default;
    background-color: var(--default-color);
    border-radius: $border-radius-default;
    box-shadow: $boxShadow-default;
    position: relative;
    overflow: hidden;
    .dropdown_header_side_color {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: $padding-default;
    }
    .dropdown_heading {
      flex: 1;
      padding: $padding-default;
      padding-left: $padding-large;
      overflow: hidden;
      text-overflow: clip;
    }
    h1 {
      font-size: $fontSize-large;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .dropdown_btn_container {
    display: flex;
    align-items: center;
    height: math.div($dropdown-height-default, 1.5);
    // gap: $padding-default;
    padding: 0 $padding-default;
    margin: $padding-less 0;
    box-shadow: $boxShadow-default;
    border-radius: $border-radius-default 0 0 $border-radius-default;
    background-color: var(--default-backgroundcolor);

    button {
      box-shadow: none;
      background: transparent;
      height: 100%;
      svg {
        height: 100%;
      }
    }
  }

  &.visible {
    .dropdown_inner_container {
      display: block;
    }
    .dropdown_heading {
      overflow: visible;
    }
    .dropdown_wraper {
      h1 {
        white-space: normal;
        text-overflow: none;
        overflow: visible;
      }
    }
  }

  .dropdown_inner_container {
    display: none;
  }
}
.outputTemplet_wraper {
  padding: $padding-default $padding-large;
  background: var(--default-color);
  margin-top: $padding-veryLess;
  box-shadow: $boxShadow-default;
  border-radius: $border-radius-default;

  label {
    display: block;
    font-size: $fontSize-small;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--less-alpha-text-color);
    position: relative;
    bottom: -4px;
  }
  h2,
  h5 {
    font-size: $fontSize-medium;
  }
  h2 {
    font-weight: 500;
    font-size: $fontSize-large - 4px;
  }
  h5 {
    font-weight: 500;
  }
  h6,
  span {
    font-size: $fontSize-small;
  }
  p {
    font-weight: 400;
    font-size: $fontSize-default;
  }
  img {
    display: block;
    width: 100%;
    max-width: 15%;
    margin: 4px 0;
    border-radius: $border-radius-default;
    box-shadow: $boxShadow-default;
  }
  .output_footer {
    margin-top: $padding-less;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .publishing-date {
      display: flex;
      gap: 4px;
    }
  }
}

// filters
.search_filters {
  display: flex;
  gap: $padding-default;
  margin-top: $padding-default;
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--default-color);
    box-shadow: $boxShadow-default;
    border-radius: $border-radius-default;
    button,
    select,
    input {
      background: var(--default-color);
      padding: $padding-less $padding-default;
      border: none;
      box-shadow: none;
      border-radius: none;
    }

    select,
    button {
      text-transform: capitalize;
    }
    button {
      svg {
        height: 100%;
      }
    }
  }
  .color_filter_container {
    @extend .random_color;
    gap: $padding-less;
    margin-right: $padding-default;
    button {
      padding: math.div($padding-default, 1.6);
      border: 2px solid rgba(255, 255, 255, 0.8);
    }
  }
}

#trash {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $padding-default;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  .trash_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: $fontSize-large;
      text-transform: uppercase;
      color: var(--default-text-color);
    }
    border-bottom: 3px solid var(--vless-alpha-text-color);
    padding-bottom: $padding-default;
  }
  .trash_content_container {
    // margin-top: $padding-default;
    padding: $padding-default;
    overflow-y: auto;
    height: 94%;
  }
  .trash_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $padding-default;
    position: relative;

    span {
      position: absolute;
      width: 100%;
      text-align: center;
      margin-top: $padding-large;
      font-size: $fontSize-large;
      opacity: 0.5;
      font-weight: 700;
      top: $padding-medium;
    }
  }
}

// Separator
.separator {
  &.horizontal-bold {
    width: 100%;
    height: 3px;
    background-color: var(--vless-alpha-text-color);
    margin: $padding-default 0;
  }
  &.vertical-medium {
    height: 60%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    margin: $padding-default;
    &.ml0 {
      margin-left: 0;
    }
    &.m0 {
      margin: 0;
    }
  }
}
