@import "styles/variables";

.container {
  z-index: 10000 !important;

  button {
    width: 100%;
    box-shadow: none;
    background: transparent;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    &:active {
      box-shadow: none;
    }
  }
}

.anchorWrapper {
  all: revert;
  padding: 0;
  border: none;
  box-shadow: none !important;
  display: flex;
  align-items: center;
}
