@import "../../../styles/variables";

.container {
  background: var(--default-color);
  box-shadow: $boxShadow-more-depth;
  border-radius: $border-radius-default;
  position: absolute;
  z-index: 1000;
  button {
    box-shadow: none;
    background: transparent;
  }
}

.anchorWrapper {
  padding: 0;
}
