@import "../../styles/variables";

.undoContainer {
  position: fixed;
  left: $padding-default;
  bottom: $padding-default;
  z-index: 999999;
  display: flex;
  align-items: center;
  gap: $padding-default;
  background-color: rgb(32, 32, 32);
  padding: $padding-default;
  color: var(--default-color);
  border-radius: $border-radius-default;
  button {
    margin-left: $padding-default * 2;
    padding: 0;
    color: rgb(113, 163, 255);
    background: transparent;
  }
}
