@import "../../../../styles/variables";

$label-margin: 0px;

.container {
  position: relative;
  box-shadow: $boxShadow-input;
  border-radius: $border-radius-default;
  background: var(--default-color);
  &.dragging {
    box-shadow: $boxShadow-default;
  }
}

.header {
  background: var(--default-backgroundcolor);
  position: absolute;
  top: $label-margin + ($padding-default * 2);
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: $border-radius-default $border-radius-default 0 0;
  padding: 0 $padding-default;

  .buttons {
    margin-left: auto;
    align-self: flex-end;
  }
  button {
    background-color: transparent;
    box-shadow: none;
  }
}

.inputContainer {
  flex: 1;
  position: relative;
  // transform: translateY(-100%);
  padding: 0 $padding-default;
  top: $label-margin + 2px;
  width: fit-content;

  input {
    padding: 0;
    background: transparent;
    font-size: $fontSize-small;
    font-family: "poppins";
    margin: 0 !important;
    white-space: pre-wrap;
    text-overflow: none;
    overflow: visible;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 0;
  }
}

.labelContainer {
  display: flex;
  align-items: center;
  font-size: $fontSize-small;
}

.inputButtons {
  display: flex;
  justify-content: flex-start;
  padding: $padding-less $padding-default;
  background: var(--default-backgroundcolor);
  position: absolute;
  bottom: 2px;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  z-index: 100000;
  border-radius: 0 0 $border-radius-default $border-radius-default;
  gap: $padding-default;
  input {
    border-radius: $border-radius-default !important;
    background-color: var(--default-color) !important;
    padding-block: 0;
  }
  button {
    background: var(--default-color);
  }
}

.childContainer {
  display: flex;
  align-items: center;
  input {
    padding-block: $padding-default / 4;
  }
}
